<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xust.mapper.dept.DeptMapper" >
    <resultMap id="BaseResultMap" type="com.xust.entity.Dept">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="deptName" property="deptName" jdbcType="VARCHAR"/>
        <result column="deptLoca" property="deptLoca" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,deptName,deptLoca
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_dept
    </select>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_dept
        where id=#{id}
    </select>

    <insert id="insert" parameterType="com.xust.entity.Dept">
        insert into
          t_dept
          (deptName,deptLoca)
        VALUES
          (#{deptName},#{deptLoca})
    </insert>

    <update id="update" parameterType="com.xust.entity.Dept">
        update
          t_dept
        set
          <if test="deptName != null">deptName = #{deptName},</if>
          <if test="deptLoca != null">deptLoca = #{deptLoca}</if>
        where
         id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete  from
          t_dept
        where
          id = #{id}
    </delete>
</mapper>