<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xust.mapper.PositionMapper" >
    <resultMap id="BaseResultMap" type="com.xust.model.Position">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">id,name,createDate,enabled</sql>
    <select id="getAllPositons" resultMap="BaseResultMap">
        select * from  position;
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from position
        where id = #{id};
    </select>

    <insert id="insert" parameterType="com.xust.model.Position">
        insert  into position (id,name,createDate,enabled)
        values (#{id},#{name},#{createDate},#{enabled})
    </insert>

    <insert id="insertSelective" parameterType="com.xust.model.Position">
        insert  into position
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="createDate != null" >
                createDate,
            </if>
            <if test="enabled != null" >
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="createDate != null" >
                #{createDate},
            </if>
            <if test="enabled != null" >
                #{enabled},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.xust.model.Position">
        update position
        set name = #{name},createDate = #{createDate},enabled = #{enabled}
        where id = #{id}
    </update>

    <update id="updateByIdSelective" parameterType="com.xust.model.Position">
        update position
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="createDate != null">
                createDate = #{createDate},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from position where id = #{id}
    </delete>

    <delete id="deletePositionByIds" >
        delete from position where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>