<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xust.mapper.RoleMapper" >
    <resultMap id="BaseResultMap" type="com.xust.model.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nameZh" property="nameZh" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">id,name,nameZh</sql>
    <select id="getAllRoles" resultMap="BaseResultMap">
        select * from  role;
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from role
        where id = #{id};
    </select>

    <insert id="insert" parameterType="com.xust.model.Role">
        insert  into role(id,name,nameZH)
        values (#{id},#{name},#{nameZh})
    </insert>

    <insert id="insertSelective" parameterType="com.xust.model.Role">
        insert  into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="nameZh != null" >
                nameZh,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="nameZh != null" >
                #{nameZh,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.xust.model.Role">
        update role
        set name = #{name},nameZh = #{nameZh}
        where id = #{id}
    </update>

    <update id="updateByIdSelective" parameterType="com.xust.model.Role">
        update role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="nameZh != null">
                nameZh = #{nameZh},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from role where id = #{id}
    </delete>
</mapper>