<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xust.mall.mapper.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.xust.mall.model.AdminUser">
        <id column="admin_user_id" jdbcType="INTEGER" property="adminUserId" />
        <result column="login_username" jdbcType="VARCHAR" property="loginUserName" />
        <result column="login_password" jdbcType="VARCHAR" property="loginPassWord" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="locked" jdbcType="TINYINT" property="locked" />
    </resultMap>

    <sql id="Base_Column_List">
        admin_user_id, login_username, login_password, nick_name, locked
    </sql>

    <insert id="insert" parameterType="com.xust.mall.model.AdminUser">
        insert into tb_mall_admin_user(admin_user_id, login_username, login_password,nick_name, locked)
        values (#{adminUserId,jdbcType=INTEGER}, #{loginUserName,jdbcType=VARCHAR}, #{loginPassWord,jdbcType=VARCHAR},
                #{nickName,jdbcType=VARCHAR}, #{locked,jdbcType=TINYINT})
    </insert>

    <insert id="insertSelective" parameterType="com.xust.mall.model.AdminUser">
        insert into tb_mall_admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminUserId != null">
                admin_user_id,
            </if>
            <if test="loginUserName != null">
                login_username,
            </if>
            <if test="loginPassWord != null">
                login_password,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="locked != null">
                locked,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adminUserId != null">
                #{adminUserId,jdbcType=INTEGER},
            </if>
            <if test="loginUserName != null">
                #{loginUserName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassWord != null">
                #{loginPassWord,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_mall_admin_user
        where login_username=#{userName} and login_password=#{passWord} and locked = 0
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_mall_admin_user
        where admin_user_id = #{adminUserId}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.xust.mall.model.AdminUser">
        update tb_mall_admin_user
        set   login_username = #{loginUserName,jdbcType=VARCHAR},
              login_password = #{loginPassWord,jdbcType=VARCHAR},
              nick_name = #{nickName,jdbcType=VARCHAR},
              locked = #{locked,jdbcType=TINYINT}
        where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xust.mall.model.AdminUser">
        update tb_mall_admin_user
        <set>
            <if test="loginUserName != null">
                login_username = #{loginUserName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassWord != null">
                login_password = #{loginPassWord,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
        </set>
        where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_mall_admin_user
        where admin_user_id=#{adminUserId}
    </delete>

</mapper>