<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/mybatis/admin/AdminLoginMapper.xml"/>
		<mapper resource="com/mybatis/admin/AdminTypeMapper.xml"/>
		<mapper resource="com/mybatis/admin/AdminGoodsMapper.xml"/>
		<mapper resource="com/mybatis/admin/AdminNoticeMapper.xml"/>
		<mapper resource="com/mybatis/admin/AdminOrderMapper.xml"/>
		<mapper resource="com/mybatis/admin/AdminUserMapper.xml"/>
		<mapper resource="com/mybatis/before/IndexMapper.xml"/>
		<mapper resource="com/mybatis/before/UserMapper.xml"/>
		<mapper resource="com/mybatis/before/UserCenterMapper.xml"/>
		<mapper resource="com/mybatis/before/OrderMapper.xml"/>
		<mapper resource="com/mybatis/before/CartMapper.xml"/>
	</mappers>
</configuration>